.arrow {
    position: relative;
    left: 4px;
    width: 10px;
    height: 10px;
}

.arrow--rotate{
    transform: rotate(180deg);
}



.arrow>.square-top {
    width: 10px;
    height: 10px;
    background-color: #383D42;
    position: absolute;
    top: -5px;
    z-index: 1;
    rotate: 45deg;
}

.arrow>.square-bottom {
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: -3px;
    left: 0px;
    rotate: 45deg;
}

.header__menu li:hover .arrow {
    position: relative;
    left: 4px;
    transform: rotate(180deg);
    transition: transform 0.5s;
}

.main__menu__item__withmore {
    position: relative;
}
.main__menu__item__withmore::after {
    content: '';
    position: absolute;
    top: 30%;
    right: 7px;
    border: 5px solid transparent;
    border-top: 5px solid white;
}

.main__menu__item__withmore:hover::after {
    content: '';
    position: absolute;
    top: 10%;
    right: 7px;
    border: 5px solid transparent;
    border-top: 5px solid white;
    rotate: 180deg;
    transition: 0.5s;
}

